bin/
obj/
/packages/
node_modules/
/node_modules/
/node_modules/*
/monacobundles/
/OptLocal/wwwroot/monacobundles/
/OptLocal/wwwroot/vuebundles/
/OptLocal/wwwroot/vuebundles/1.build.js
/OptLocal/wwwroot/vuebundles/2.build.js
/OptLocal/wwwroot/vuebundles/editor.worker.js
/OptLocal/wwwroot/vuebundles/main.build.js
/OptLocal/package-lock.json
/OptLocal/Instrumentation/
/TraceSourceExample/Instrumentation/
/TraceSourceExample/JsonOutput/
.idea
