<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <title>Visualize Python, Java, JavaScript, TypeScript, and Ruby code execution</title>
    @* <script type="text/javascript" src="~/client/lib/vue/vue.js"></script> *@

    <link rel="stylesheet" href="~/client/lib/font-awesome/all.min.css"/>
    <link rel="stylesheet" href="~/client/lib/bootstrap/bootstrap.min.css"/>
    <script type="text/javascript" src="~/client/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/client/lib/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- requirements for pytutor.js -->
    <script type="text/javascript" src="~/opt/js/d3.v2.min.js"></script>
    <script type="text/javascript" src="~/opt/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/opt/js/jquery.ba-bbq.min.js"></script> <!-- for handling back button and URL hashes -->
    <script type="text/javascript" src="~/opt/js/jquery.ba-dotimeout.min.js"></script> <!-- for event debouncing -->
    <script type="text/javascript" src="~/opt/js/jquery.jsPlumb-1.3.10-all-min.js"></script> <!-- for rendering SVG connectors
    DO NOT UPGRADE ABOVE 1.3.10 OR ELSE BREAKAGE WILL OCCUR -->
    <script type="text/javascript" src="~/opt/js/diff_match_patch.js"></script>

    <script type="text/javascript" src="~/opt/js/jquery-ui-1.11.4/jquery-ui.min.js"></script> <!-- for sliders and other UI elements -->
    <link type="text/css" href="~/opt/js/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet"/>

    <!-- for annotation bubbles -->
    <script type="text/javascript" src="~/opt/js/jquery.qtip.min.js"></script>
    <link type="text/css" href="~/opt/css/jquery.qtip.css" rel="stylesheet"/>

    <script type="text/javascript" src="~/opt/js/myPytutor.js"></script>
    <link rel="stylesheet" href="~/opt/css/pytutor.css"/>

    <script type="text/javascript" src="~/examples/examples.js"></script>

    <!-- insert google-analytics.txt contents here -->

</head>
<body>
<div class="container-fluid" id="app">
</div>

</body>
<script type="text/javascript" src="~/vuebundles/main.build.js"></script>
</html>